<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
<H3>查询测试：</H3>
<h7 th:text="${list}"></h7><HR>
<H3>注册测试：</H3>
<form method="post" action="/insertUser">
  用户：<input type="text" name="username"><br>
  密码：<input type="text" name="password"><br>
  <!--请确认密码：<input type="text" name="repassword"><br>-->
  <input type="submit" value="注册"><hr>
</form>

<input type="text" name="username" id="username">
<input type="text" name="password" id="password">

<button onclick="ajaxSubmit()">注册</button>

<H3>登录测试：</H3>
<form method="post" action="/login">
  用户：<input type="text" name="username"><br>
  密码：<input type="text" name="password"><br>
  <input type="submit" value="登录"><hr>
</form>

<script type="text/javascript" th:inline="javascript">

  function ajaxSubmit(){
    var username = $("#username").val()
    var password = $("#password").val()

    console.log(username+"chong分割符号"+password)

    $.ajax({
      url: "/insertUser",
      type: 'post',
      dataType: 'json',
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify({username : username,password : password}), //JSON.stringify转JSON字符串
      async: true,  //是否异步
      success: function(data){
        if(data == "1"){
          alert("一切顺利");
        }else{
          alert("注册出错");
        }
      }
      // ,beforeSend:function(){
      //   //请求前的处理
      // },
      // complete:function(){
      //   //请求完成的处理
      // },error:function(){
      //   //请求出错处理
      // }
    });
  }

</script>

</body>
</html>