<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swaggertest.demo.dao.CateDao">
    <!--通过明细模糊查询-->
    <select id="threeLevelPullDown" resultType="com.swaggertest.demo.domain.po.CatePO" parameterType="string">
        SELECT NAME AS subjectName,
               id AS subjectId,
               pid
        FROM
          pms_category
        WHERE
        pid IN
         <foreach collection="pidList" item="pid" open="(" separator="," close=")">
             #{pid}
         </foreach>
        AND
        show_dic_fk = 0
          AND DISABLE = 0
        ORDER BY
            weight ASC
    </select>

    <insert id="insetPullDown">
        insert into pms_category(name,cat_level) value ( #{name},#{catLevel} )
    </insert>

    <select id="qryByName" resultType="com.swaggertest.demo.domain.dto.PmsCategoryDTO">
        select * from pms_category where name = #{name}
    </select>

</mapper>