<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swaggertest.demo.dao.PmsMapper">
    <!--通过明细模糊查询-->
    <select id="queryAll" resultType="com.swaggertest.demo.domain.dto.PmsDTO">
      select * from pms_category
    </select>

    <select id="qryThis" resultType="java.util.Map">
      select * from pms_category where cat_id = #{catId}
    </select>
</mapper>