<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swaggertest.demo.dao.TestMapper">
    <!--通过明细模糊查询-->
    <select id="queryLikeName" resultType="com.swaggertest.demo.domain.dto.TestDto" parameterType="string">
        select * from first f1 where f1.Sname like CONCAT('%',#{Sname},'%')
    </select>

    <select id="queryBySno" resultType="com.swaggertest.demo.domain.dto.TestDto" parameterType="long">
        select distinct f1.Sage from first f1 where f1.sno in
        <foreach collection="snos" open="(" item="sno" separator="," close=")">
            #{sno}
        </foreach>
    </select>

    <select id="queryAll" resultType="com.swaggertest.demo.domain.dto.TestDto">
        select * from first f1 limit #{page},#{limit}
    </select>

    <select id="queryEvery" resultType="com.swaggertest.demo.domain.dto.TestDto">
        select * from first f1
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(1) from first f1
    </select>
</mapper>